* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000000;
  font-family: sans-serif;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Sidebar */
.sidebar {
  width: 23%;
  background-color: #000000;
  margin: 13px;
  min-height: 98vh;
  position: fixed;
  top: 0;
  left: 0;
  border-radius: 5px;
}

.sidebar .navigation {
  background-color: #1a1a1a;
  border-radius: 10px;
}

.sidebar .navigation ul {
  list-style: none;
  border-radius: 10px;
  background-color: #1a1a1a;
  padding: 20px;
}
.sidebar .navigation ul li {
  padding: 15px 10px;
}
.sidebar .navigation ul li a {
  color: #b3b3b3;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
}

.sidebar .navigation ul li .active,
.sidebar .navigation ul li a:hover {
  font-weight: bold;
  color: #fff;
}

.sidebar .navigation ul li .fa {
  font-size: 20px;
  margin-right: 10px;
}

.library {
  margin-top: 15px;
  height: 80vh;
}

.fa-plus {
  float: right;
  margin-top: 5px;
  display: none;
}

/* Main */
main {
  width: 80%;
  min-height: 90vh;
  margin-left: 24.5%;
  margin-bottom: 100px;
  background: linear-gradient(to bottom, #242424, #1a1a1a);
}
.topbar {
  display: flex;
  justify-content: space-between;
  background-color: #0e0e0e;
  padding: 14px 30px;
  position: fixed;
  width: 100%;
}

.topbar {
  display: flex;
  justify-content: space-between;
  background-color: #0e0e0e;
  padding: 14px 30px;
  position: fixed;
  width: 100%;
}
.topbar .prev-next-buttons button {
  color: #7a7a7a;
  cursor: not-allowed;
  width: 34px;
  height: 34px;
  border-radius: 100%;
  font-size: 18px;
  border: 0px;
  background-color: #090909;
  margin-right: 10px;
}

/* playlist */
.playlists {
  padding: 20px 40px;
}

.text {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.text p {
  color: #b3b3b3;
  margin-right: 90px;
  font-size: 15px;
}

.playlists h2 {
  color: #ffffff;
  font-size: 22px;
  margin-bottom: 20px;
}

.atas {
  margin-top: 80px;
}

.playlists .list {
  display: flex;
  gap: 20px;
  overflow: hidden;
}
.playlists .list .item {
  width: 220px;
  padding: 15px;
  background-color: #181818;
  border-radius: 6px;
  cursor: pointer;
  transition: all ease 0.4s;
}
.playlists .list .item:hover {
  background-color: #252525;
}
.playlists .list .item img {
  width: 100%;
  border-radius: 6px;
  margin-bottom: 10px;
}
.playlists .list .item .play {
  position: relative;
}
.playlists .list .item .play .fa {
  position: absolute;
  right: 10px;
  top: -60px;
  padding: 18px;
  background-color: #1db954;
  border-radius: 100%;
  opacity: 0;
  transition: all ease 0.4s;
}
.playlists .list .item:hover .play .fa {
  opacity: 1;
  transform: translateY(-20px);
}
.playlists .list .item h4 {
  color: #ffffff;
  font-size: 14px;
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.playlists .list .item p {
  color: #989898;
  font-size: 12px;
  line-height: 20px;
  font-weight: 600;
}
